*{
    /* This is the font for the text on the entire webpage, it is the font that Amazon currently uses, there are a few more fonts just in case the users browser does not support the first font listed */ 
    font-family: 'Amazon Ember',Arial,sans-serif;
}

/* body {
    font-size: 13px;
} */

/* The following is for the form design: background color, color of the text, color of the border, thickness of the border, slighly round edges of the border, the texxt will begin on the left side of the form, The size of the form is formed setting margin size. Min width in case the webpage is resized */


form{
     min-width: 375px; 
     max-width: 400px;
    padding-top: 3.33px;
    padding-left: 20px;
    color: black;
    border: 2px solid #07a283a5;
    border-radius: 2px;
    background-color:rgb(196, 242, 255);
    text-align: left;
    margin-top: 175px;
    margin-right: 525px;
    margin-left: 525px;
    
    
}
/* label id 'sign in' is only for this particular label, other labels wont be modified if the sign in text changes. The text is a tad bit bolder than the other lines of texxt and the font size is larger */
#signin{
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 10px;
   
}

/* div id 'logintitle1 & 2' was created to position the Email(phone or accounts)/Password text slightly below the sign in text and makes the text lighter than sign in text*/
#logintitle1{
   font-weight: 300;
   padding-top: 10px;
   padding-bottom: 7px;
   font-size: 12px;
   
}

#logintitle2{
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 7px;
    font-size: 12px;
    
 }
/* input style for input box (cred1 & 2) positions the boxes, makes the boxes wider, and the font size bigger than the title*/
#credentials1{
    width: 93%;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 14px;
    
   
}

#credentials2{
    width: 93%;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 14px;
   
   
}

/* The forgot password link styles/font size and positioning  */
#forgpass{
    font-size: 14.5px;
    padding-left: 185px;
    
}

/* The continue button style: background color, color of the border, space above and below the word continue, the button is wider than default size bor.radius adds some curviture to outter edges*/
#continue{
    width: 93%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 20px;
    /* background-color:rgba(237, 240, 8, 0.87) ; */
    background-color: rgba(247, 199, 9, 0.992);
    border-radius: 2px;
    border-color: rgb(236, 240, 8) ;
    border: 20;
    
}

/*Extra colors for the continue button because I couldnt decide between the color I chose and the one below :)*/
/* background-color: rgba(4, 192, 145, 0.705);
border-radius: 2px;
border-color: rgba(237, 240, 8, 0.87) ;
border: 20; */
/*Need help div container positions the text just below the continue button, towards the left of the continue button */
#needhelp{
    
    padding-left: 3px;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom:5px;     
}

/* Unicode used to add a triangle next to 'need help' text and adjustments to the size of the triangle to make it a tad bit smaller*/
#icon:before{
    content: "\25B8";
    font-size: 8px;
   
}

 /*The 'New To Amazon' text needed to be centered below the continue button to the right, and lighter text*/
 h4{
   font-weight: 100;
   right: 3.25%;
 }
 /*This creates and positions the horizontal line next to 'New To Amazon' text */
 .hr-lines:before{
    content:" ";
    display: block;
    height: 1px;
    width: 125px;
    position: absolute;
    top: 50%;
    left: 11%;
    
    background: black;
  }
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 125px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 11%;
  }



  /*sets the position of the horizontal line so that its right next to the text*/
  .hr-lines{
    position: relative;
    
  }

/*sets the position of the horizontal line so that its right next to the text*/
  .hr-lines{
    position: relative;
    /*  new lines  */
    max-width: 500px;
    margin: 15px auto;
    text-align: center;
  }
  
  /*styles and positions the 'create account' button*/
 #newaccount{
    width: 25%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-top: 13px;
    margin-left: 540px;
    padding-right: 10px;
    /* background-color:rgba(237, 240, 8, 0.87) ; */
    background-color: rgba(227, 224, 212, 0.992);
    border-radius: 2px;
}
hr{
        margin-top: 60px;
        height: 2px;
        background:rgba(163, 162, 162, 0.741);
        border: rgb(157, 154, 154);
        margin-bottom: 50px;
}

/*conditions style and positioning*/
#conditions{
    font-size:12px;
    
}

/*help link style and positioning*/
#help{
    font-size:12px;
    Padding-left: 25px;
    
    
}
/*positions the text below long line, adds spacing, text size */
#policies{
    font-weight: 300;
    padding-bottom: 7px;
    text-align: center;
    font-size: 12px;
    padding-right: 120px;
    
 }
 #privacy{
    font-size: 12px;
    padding-left: 25px;
 }

 /* copyright text styling */
 p{
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    padding-right: 117px;
 }